
  .card-body .nameservises{
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    background-color: black;
    color: white;
    
}
.card {
  padding: 7px;
  margin: 5px;
}
.card:hover{
 box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.card-footer{
  border-radius: 5px;
  padding: 5px;
  margin: 0px;
}
.cross-text{
  text-decoration:line-through;
  text-decoration-color: red;
  
}
.card-img-top{
  object-fit: cover;
}
.container .card:hover {
  transform: scale(1.02); /* Увеличиваем масштаб */
 }
 .card {
  transition: 0.5s;}

 .top-right {
  position: absolute;
  top: 10px;
  left: 10px;
}
.container .confirm-order{
    position: fixed;
   
    bottom: 10px;
    width: 100%;
    color: white;
    text-align: center;
}