<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="col maintext text-center d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" >
                        <h2 >Якісна залізобетонна продукція від надійних виробників</h2>
                    </div>
                    <div class="col maintext text-center d-block d-sm-none d-none d-sm-block d-md-none">
                        <h2> ЗБ продукція </h2>
                     </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ">
              <div class="col" *ngFor="let item of avalibleprodacts; let i = index"  style="padding: 5px;">
                <div class="card rounded" >
                  <div  attr.id="carucel-{{i}}" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div *ngFor="let src of item.srcImage; let srcindex = index" class="carousel-item " [ngClass]="{active: srcindex===0}" >
                          <img class="card-img-top" class="d-block w-100" src="{{src}}" alt="First slide">
                          
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carucel-{{i}}" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carucel-{{i}}" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>
                       
                    <div *ngIf="item.discont" class="top-right pl-1 pr-1" style="color: white; background-color: green; border-radius: 5px;">Вигідна ціна!</div>
                      <div class="card-body p-1 border-1 ">
                        <div class="row ">
                          <div class="col text-center m-0 p-0">
                            <p >{{ item.cardText }}</p>
                          </div>
                        </div>
                        <div class="row" *ngFor="let properties of item.properties; let y = index">
                        <div class="col">
                            {{properties.key}}
                        </div>
                        <div class="col text-center">
                          {{properties.value}}
                        </div>
                      </div>
                        </div>
                      <div class="card-footer">
                        <div class="d-flex form-row align-items-center">
                          <div class="col-6 ">
                            <div class="row align-items-center">
                              <div class="col"> <span style="font-weight:bold; ">Ціна</span></div>
                              <div class="col">
                                <div *ngIf="item.discont" class="row"><div class="row m-0"><div  class="text-muted cross-text"> <span style="color:gray;font-size: smaller;">{{ item.price*1.5 }} грн</span> </div></div></div>
                                <div class="row">
                                  <div class="text-muted">
                                   <span [style.color]="item.discont?'red':'green'">{{ item.price }} грн</span>
                                   </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-6 text-right">
                            <div class="row align-items-center">
                              <div class="col"></div>
                              <div class="col text-right" *ngIf="itemInBasketFlag(item.cardId);else other_content1 ">
                                  <button
                                    type="button"
                                    class="btn btn-warning btn-sm "
                                    (click)="addToUserBacket(item)">
                                      В кошику  
                                    </button>
                              </div>
                              <ng-template #other_content1>
                                <div class="col text-right">
                                  <button
                                    type="button"
                                    class="btn btn-success btn-sm "
                                    (click)="addToUserBacket(item)">
                                    В кошик  
                                  </button>
                                </div>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <div class="row confirm-order d-block d-sm-none  d-sm-block d-md-none " >
              <div class="col text-uppercase">
                <a routerLink="/basket" class="btn btn-success btn-lg btn-block btn-sm" style="" >Оформити замовлення
                  <span class="badge badge-light" *ngIf="this.userbasket.countItemsInBasket.getValue()>0" style="background-color:rgba(0, 0, 0, 0.0); color: yellow;" >{{this.userbasket.countItemsInBasket.getValue()}}</span>
                </a>
                
            </div>
            </div>
        </div>
        
    </div>
    
</div>

