.blockfon{
   
    
     
  }

.container .nameservises{
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    background-color: black;
    color: white;
    
}
.container .card{
    overflow: hidden;
}
.container .card-img-top {
    width: 100%;
    object-fit: cover;
}
.container .card-img-top:hover {
    transform: scale(1.05); /* Увеличиваем масштаб */
   }
   .card-img-top {
    transition: 1s;}

@media (min-width: 576px) {
    .card-img-top {
        height: 50vw;
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .card-img-top {
        height: 45vw;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .card-img-top {
        height: 25vw;
    }
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 992px) {
    .card-img-top {
        height: 25vw;
    }
  }


