<div class="blockfon">
  <div class="container pb-3">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col maintext text-center d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" >
              <h2 >ПОСЛУГИ МАНІПУЛЯТОРА</h2>
          </div>
          <div class="col maintext text-center d-block d-sm-none d-none d-sm-block d-md-none">
            <h5> Кран-маніпулятор <br> Вантажні перевезення <br> <span class="font-weight-bold">  НЕТІШИН, СЛАВУТА, ОСТРОГ, ШЕПЕТІВКА, ЗДОЛБУНІВ</span> </h5>
         </div>
          </div>
          
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <div class="card rounded">
                <img [lazyLoad]="palet" class="card-img-top" alt="зображення" data-toggle="collapse" href="#mariraily" role="button" aria-expanded="false" aria-controls="mariraily">
                <div class="card-body p-0">
                  <h5 class="card-title nameservises">Перевезення матеріалів, палет</h5>
                </div>
              </div>
              <div class="collapse show" id="mariraily">
                <div class="card card-body" style="padding: 10px;">
                  <p class="card-text text-justify" style="text-indent: 1.5em;"> Перевезення будівельних матерів: перевезення і доставка <span class="font-weight-bold">піноблоків, бруківки, бордюрів, будівельних блоків, брусів, крокв</span>  і т. д.  </p>
                 </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card rounded">
                <img [lazyLoad]="container" class="card-img-top" alt="зображення" data-toggle="collapse" href="#konteinery" role="button" aria-expanded="false" aria-controls="konteinery" >
                <div class="card-body p-0">
                  <h5 class="card-title nameservises">Перевезення битовок, контейнерів</h5>
                </div>
              </div>
              <div class="collapse show" id="konteinery">
                <div class="card card-body" style="padding: 10px;">
                  <p class="card-text text-justify" style="text-indent: 1.5em;">Перевезення, доставка <span class="font-weight-bold"> будиночків, альтанок, будівельних вагончиків</span> нашим краном-наміпулятором в Острозі, Нетішині, Славуті, Шепетівці, Здолбунові та навколишніх районах. Можливі поїздки і по суміжних областях за попередньою досовленістю</p>
                 </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card rounded">
                <img [lazyLoad]="beton" class="card-img-top"alt="зображення"  class="card-img-top" alt="зображення" data-toggle="collapse" href="#zbconstrycii" role="button" aria-expanded="false" aria-controls="zbconstrycii">
                <div class="card-body p-0">
                  <h5 class="card-title nameservises">Перевезення ЗБ конструкцій</h5>
                </div>
              </div>
              <div class="collapse show" id="zbconstrycii">
                <div class="card card-body" style="padding: 10px;">
                  <p class="card-text text-justify" style="text-indent: 1.5em;">Перевезення, доставка виробів із бетону: <span class="font-weight-bold"> плит, каналізаційних кругів, залізобетонних конструкцій</span>  для будівництва чи господарства за допомогою крана маніпулятора</p>
                 </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card rounded">
                <img [lazyLoad]="tools" class="card-img-top" alt="зображення"  class="card-img-top" alt="зображення" data-toggle="collapse" href="#obladnanya" role="button" aria-expanded="false" aria-controls="obladnanya">
                <div class="card-body p-0">
                  <h5 class="card-title nameservises">Перевезення обладнання</h5>
                </div>
              </div>
              <div class="collapse show" id="obladnanya">
                <div class="card card-body" style="padding: 10px;">
                  <p class="card-text text-justify" style="text-indent: 1.5em;">Перевезення <span class="font-weight-bold">станків, верстатів, агрегатних установок </span> та іншого <span class="font-weight-bold">виробничого обладнання </span>  за доступними цінами</p>
                 </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card rounded">
                <img [lazyLoad]="tehnika" class="card-img-top" alt="зображення"  class="card-img-top" alt="зображення" data-toggle="collapse" href="#tehnica" role="button" aria-expanded="false" aria-controls="tehnica">
                <div class="card-body p-0">
                  <h5 class="card-title nameservises">Перевезення техніки</h5>
                </div>
              </div>
              <div class="collapse show" id="tehnica">
                <div class="card card-body" style="padding: 10px;">
                  <p class="card-text text-justify" style="text-indent: 1.5em;">Послуги перевезення <span class="font-weight-bold">сільськогосподарської</span>  та <span class="font-weight-bold">промислової техніки</span>: <span class="font-weight-bold">погружчиків, міні-ескаваторів, комбайнів, прес-тюковщиків, тракторів, оприскувачів, сівалок</span> </p>
                 </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card rounded ">
                <img [lazyLoad]="metal" class="card-img-top" alt="зображення"  class="card-img-top" alt="зображення" data-toggle="collapse" href="#metaloconstructions" role="button" aria-expanded="false" aria-controls="metaloconstructions">
                <div class="card-body p-0">
                  <h5 class="card-title nameservises">Перевезення металоконструкцій</h5>
                </div>
              </div>
              <div class="collapse show" id="metaloconstructions">
                <div class="card card-body" style="padding: 10px;">
                  <p class="card-text text-justify" style="text-indent: 1.5em;">Перевозимо вироби із металу - <span class="font-weight-bold">профілів та труб </span>, <span class="font-weight-bold">сільськогосподарських</span>  та <span class="font-weight-bold">промислових металоконструкцій</span></p>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
</div>
<app-footer></app-footer>



   
