<div class="blockmain">
  <div class="container ">
    <div class="row">
        <div class="col maintext text-center d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" >
            <h1 >ПОСЛУГИ МАНІПУЛЯТОРА</h1>
        </div>
        <div class="col maintext text-center d-block d-sm-none d-none d-sm-block d-md-none " >
          <h4 >Послуги крана-маніпулятора</h4>
      </div>
    </div>
    <div class="row align-items-center" style="height:45vh">
      <div class="col text-center maintext2">
        <h2 id="blink1" >КРАН-МАНІПУЛЯТОР <br> в Рівненській та Хмельницькій областях </h2>
      </div>
    </div>
</div>
</div>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2  ">
      <div class="col text-center align-self-center d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block ">
        <img [lazyLoad]="atlas"  height="337" width="334">
      </div>
      <div class="col align-self-center">
        <div class="row text-center">
          <div class="col">
            <h2>Про нас</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col pb-2 text-justify order-first" style="text-indent: 2em" >
             Ми надаємо <span  class="font-weight-bold"> <a routerLink="/servises">ПОСЛУГИ</a></span> із перевезення вантажів. Швидка подача машини в <span  class="text-uppercase font-weight-bold">Нетішин, Славута, Остріг, Шепетівка, Здолбунів</span> та околиці поблизу. Перевезення по області за попередньою домовленістю. Кран призначений для роботи в різних умовах складності, він досить компактний та дозволяє працювати не лише на відкритій площі, а й у місті. Досвідчений водій-оператор пройшов спеціальне навчання та володіє необхідними знаннями та навичками у сфері вантажних перевезень. Наша техніка завжди своєчасно обслужена, що дозволить Вам виконати всі поставлені завдання не лише своєчасно, а й безпечно! Також ми постійно моніторимо наших конкурентів і на основі зібраних даних встановлюємо <span class="font-weight-bold">доступні та вигідні ціни</span> на перевезення. 
            <span class="font-weight-bold">Зателефонуте нам</span> і ми оперативно відповімо Вам на всі ваші питання та будемо раді співпраці!                   
          </div>
        </div>
      </div>
    </div>
    </div>
  <div class="container-fluid blockmain2 ">
    <hr class="m-0" >
    <div class="flex-row pb-4 ">
      <div class="col text-center"  style="color: white; font-size: larger;">
        <h2 class="m-0" >Як все працює?</h2>
      </div>
    </div>
    <div class="row justify-content-end ">
      <div class="col pt-2 ">
        <div class="row align-self-center row-cols-1 row-cols-md-3 row-cols-md-4 row-cols-lg-5">
          <div class="col align-self-center text-center" >
            <div class="border-0">
              <img [lazyLoad]="phone"  height="50px" width="50px">
              <div class="card-body text-center">
                <p class="card-text whitehowitworks" style="color: white; font-size: larger;">Отримуємо заявку на перевезення!</p>
              </div>
            </div>
          </div>
          <div class="col  text-center align-self-center ">
            <div class=" border-0">
              <img [lazyLoad]="note"  height="50px" width="50px">
              <div class="card-body text-center">
                <p class="card-text"  style="color: white; font-size: larger;">Уточнюємо поставлене завдання!</p>
              </div>
            </div>
          </div>
          <div class="col  text-center">
            <div class=" border-0">
              <img [lazyLoad]="money"  height="50px" width="70px">
              <div class="card-body text-center">
                
                <p class="card-text"  style="color: white; font-size: larger;">Обговорюємо вартість перевезення!</p>
              </div>
            </div>
          </div>
          <div class="col  text-center align-self-center">
            <div class=" border-0">
              <img  [lazyLoad]="handhake"  height="50px" width="70px">
              <div class="card-body text-center">
                
                <p class="card-text"  style="color: white; font-size: larger;">Домовляємося про час і дату перевезення!</p>
              </div>
            </div>
          </div>
          <div class="col  text-center align-self-center">
            <div class="border-0">
              <img [lazyLoad]="truck"  height="50px" width="70px">
              <div class="card-body text-center">
                <p class="card-text"  style="color: white; font-size: larger;">Здійснюємо перевезення на взаємовигідних умовах!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid ">
    <div class="row row-cols-1 row-cols-md-2  ">
      <div class="col align-self-center">
        <div class="row text-center">
          <div class="col">
            <h2>Переваги наших послуг маніпулятора:</h2>
          </div>
        </div>
        <div class="row m-0">
          <div class=" col  text-center"  >
            <ul class="list-group list-group-flush " style="font-size:large; ">
              <li class="list-group-item">Наш кран-маніпулятор підходить під різні типи робіт</li>
              <li class="list-group-item ">Найкращі ціни на перевезення</li>
              <li class="list-group-item">Маніпулятор завжди обслужений та заправлений</li>
              <li class="list-group-item ">Досвідчений водій-оператор </li>
              <li class="list-group-item">Безпечне виконання робіт у домовлені сроки</li>
              <li class="list-group-item ">Обслуговування юридичних і фізичних осіб</li>
              <li class="list-group-item ">Діюча система знижок для постіних клієнтів</li>
              <li class="list-group-item ">Різноманітні форми оплати</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col text-center  ">
        <img [lazyLoad]="hook">
      </div>
    </div>
  </div>
  <div class="blockmain3">
    <div class="container-fluid pb-3">
      <div class="row align-self-center row-cols-1 row-cols-md-3">
        <div class="col  text-center align-self-center ">
          <div class=" border-0">
            <div class=""style="color: white; font-size: larger;" >{{heavy}}</div>
            <div class="card-body text-center pt-0 ">
              <p class="card-text"  style="color: white; font-size: larger;">Перевезено тон</p>
            </div>
          </div>
        </div>
        <div class="col  text-center">
          <div class=" border-0">
            <div class=""style="color: white; font-size: larger;" >{{clients}}</div>
            <div class="card-body text-center pt-0">
              <p class="card-text"  style="color: white; font-size: larger;">Клієнтів</p>
            </div>
          </div>
        </div>
        <div class="col  text-center align-self-center">
          <div class=" border-0">
            <div class=""style="color: white; font-size: larger;" >6 років</div>
            <div class="card-body text-center pt-0">
              <p class="card-text"  style="color: white; font-size: larger;">Досвід роботи</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>


  


