
.blockmain .maintext{
    opacity: 0.75;
     color:white
}
.blockmain .maintext2{
    opacity: 0.9;
     color:white;
}

  .howweworks{
    background: #fc3; /* Цвет фона */
    opacity: 0.8;
   
  }
  .blockmain2{
   
    background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) ), url("../../assets/fon-manipulator2.jpg"); /* The image used */
    background-color: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ); /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto 
  }
  .flex-row .whitehowitworks{
    opacity: 0.9;
    color:white;
  }
  .blockmain3{
   
    background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) ), url("../../assets/kranfon3.jpg"); /* The image used */
    background-color: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ); /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto 
  }

  @media (min-width: 320px) {
    .blockmain {
        background-image: url("../../assets/fon-main-manipulaor-sm.jpg"); /* The image used */
        height: 50vh; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; 
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .blockmain {
        background-image:url("../../assets/fon-main-manipulaor.jpg"); /* The image used */
        height: 50vh; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; 
    }
  }
 
