<div class="footer">
            <div class="container d-block d-sm-none  d-sm-block d-md-none">
                <div class="row text-center pb-2 ">
                    <div class="col - 6">
                        <a href="tel:+380976985232" class="btn btn-success btn-lg btn-block btn-sm" id = "callivent">Замовити </a>
                    </div>
                    <div class="col - 6">
                     <a  href="https://www.facebook.com/manipulator.ua"> <button type="button" class="btn btn-primary btn-lg btn-block btn-sm">Ми у Facebook</button></a> 
                    </div>
                </div>
            </div>
            <div class="container-fluid d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block ">
                <div class="row align-items-center"  style="background-color: rgba(199, 199, 199, 0.91); height: 40px; opacity: 0.6;" >
                    <div class="col align-items-center">
                        <a href="https://www.facebook.com/manipulator.ua" style="font-size: 10pt"><span><img [lazyLoad]="facebook" style="opacity: 0.6;"  height="10px" width="10px" alt=""></span>© kran-manipulator.in.ua</a>
                    </div>
                  </div>
            </div>
            
</div>
