<div class="block-contacts">
    <div class="container">
        <div class="row">
            <div class="col pb-2">
                <div class="row ">
                    <div class="col text-center d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block whitetext "><h3> Замовлення та консультації за телефонами</h3></div>
                </div>
                <div class="row">
                    <div class="col text-center d-block d-sm-none d-none d-sm-block d-md-none whitetext"><h4> Замовлення та консультації</h4></div>
                </div>
                <div class="row whitetext">
                    <div class="col align-self-center text-center">
                        <div class="col" style="font-size:larger;"> Телефони </div>
                            <div class="col p-0"><a style="font-size: 16px; font-weight: 800; " href="tel:+380976985232" ><span><img src="../../assets/icons/phonecall.png" width="20px"height="20px"></span> 097 698 52 32 </a></div>
                            <div class="col p-0"><a style="font-size: 16px; font-weight: 800;" href="tel:+380976985232"> <span><img src="../../assets/icons/phonecall.png" width="20px"height="20px"></span> 097 698 52 32 </a></div>
                            <div class="col p-0"><a style="font-size: 16px; font-weight: 800;" href="tel:+380976985232"><span><img src="../../assets/icons/phonecall.png" width="20px"height="20px"></span> 097 698 52 32 </a></div>
                    </div>
                    <div class="col text-center whitetext" >
                       <div class="row">
                           <div class="col" style="font-size:larger;">Графік роботи</div>
                       </div>
                       <div class="row">
                           <div class="col p-0 ">У будні 8:00-21:00</div>
                       </div>
                       <div class="row">
                            <div class="col p-0  ">У суботу 11:00-18:00</div>
                        </div>
                        <div class="row">
                          <div class="col  p-0 ">У неділю 11:00-15:00</div>
                     </div>
                    </div>
                    
                    
                </div>
                
            </div>
        </div>
        
        <div class="row">
            <div class="col  whitetext"><h3> Ми на карті</h3></div>
        </div>
    </div>
</div>
<div class="block-contacts2">
    <div class="container-fluid">
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20376.16293140038!2d26.49660963405965!3d50.32887127889762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f003b10173175%3A0xc9d43eae8dc5ac2!2z0J7RgdGC0YDQvtCzLCDQoNGW0LLQvdC10L3RgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgMzU4MDA!5e0!3m2!1suk!2sua!4v1616068404057!5m2!1suk!2sua" width="100%" height="450" frameborder="0" style="border:0;"  aria-hidden="false" tabindex="0" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
<div class="blockmain3 ">
    <div class="container-fluid  align-items-center ">
        <div class="row pt-2 whitetext">
            <div class="col text-center" style="color: blue;">
                Можлива співпраця на постійній основі!
            </div>
        </div>
      <div class="row whitetext m-0" style="height: 180px" >
        <div class="col align-self-center text-center  ">
            <div class="row justify-content-center"><img src="../../assets/icons/easy-use.png" width="40" height="50"></div>
            <div class="row justify-content-center">Просто</div>
        </div>
        <div class="col align-self-center  text-center  ">
            <div class="row justify-content-center"><img src="../../assets/icons/runer-silhouette-running-fast.png" width="50" height="50"></div>
            <div class="row justify-content-center">Швидко</div>
        </div>
        <div class="col align-self-center text-center  ">
            <div class="row justify-content-center"><img src="../../assets/icons/hard.png" width="50" height="50"></div>
            <div class="row justify-content-center">Без надмірних зусиль</div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>