.blockmain3{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url("../../assets/fon-manipulator3.jpg"); /* The image used */
    background-color: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ); /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto 
  }
  .block-contacts{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) )
  }
  .block-contacts .whitetext{
      color: white;
  }

  .blockmain3 .whitetext{
    color: white;
}
