.container .card-basket
{
    margin: 2px ;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 0 px;
}
.container .deletebutton{
    position: absolute;
    top: 3px;
}
.container .card-basket:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}
.container .card-basket {
        transition: 0.3s;
        
   }
   .container .card-basket-img {
       border-radius: 20%;
   }