<div class="container">
    <div class="row d-block d-sm-none  d-sm-block d-md-none">
        <div class="col">
            Корзина
        </div>
    </div>
    <div class="row card-basket row-cols-1 row-cols-md-2 row-cols-lg-3" *ngFor="let item of this.userbasket.orderItems; let i = index"  >
        <div class="col">
            <div class="row">
                <div class="col-10">Назва продукту повна</div>
                <div class="col-2">x</div>
            </div>
            <div class="row"  >
                <div class="col-4 card-basket-img">
                    <div class="row">
                        <div class="col text-center p-0">
                         <img src="{{item.itemscard.srcImage[0]}}" width="100px" height="100px" style="border-radius: 10%;">
                        </div>
                    </div>
                </div>

                <div class="col-8">

                </div>

            </div>
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col p-0 text-center">
                            <a type="button" style="font-size: larger;" >
                                -
                            </a>
                        </div>
                        <div class="col p-0 text-center" >{{item.countIetms}}</div>
                        <div class="col p-0 text-center">
                            <a type="button" style="font-size: larger;">
                                +
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-8 text-right" style="font-weight: 600;">
                    {{item.itemscard.price*this.pk}} ₴
                </div>
            </div>
        </div>
    </div>
</div>
