<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
         <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark ">
           <button id="expend" class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu"  aria-label="Toggle navigation" aria-expanded="false"  >
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id='navbar-menu'>
             <a class="navbar-brand p-0" style="font-size: 25px;" href="#"><img src="..//..//assets/truck-brand.png" width="50px" height="25"> </a>
             <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">
               <li class="nav-item  " >
                 <a class="nav-link text-uppercase "  routerLink="/main"  (click) ="HideIfShowing()"  >Головна </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link text-uppercase" routerLink="/servises" (click) ="HideIfShowing()"  >Послуги</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link text-uppercase" routerLink="/contacts" (click) ="HideIfShowing()" >Контакти</a>
               </li>
               <li class="nav-item">
                <a class="nav-link text-uppercase" routerLink="/products" (click) ="HideIfShowing()" >Продукція</a>
              </li>
             </ul>
           </div>
           <div class="basket-button" *ngIf="this.userbasket.countItemsInBasket.getValue()>0">
            <a type="button"  routerLink="/basket">
              <img src="..//..//assets/interfaceimg/shopping-cart.png" alt="" height="30" width="30" style="padding-right: 2px;">
              <span class="badge badge-light" style="color: rgb(0, 66, 128); margin-bottom: 10px;">{{this.userbasket.countItemsInBasket.getValue()}}</span>
            </a>
           </div>
         </nav>
        </div>
      </div>
</div>
